* {
    box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
    background-color:#f8f8ff;
    font-family: "Noto Sans", open-sans;
}

.fa-biohazard {
    color: rgb(53, 223, 186);
}

.covid-title {
    font-size: 4em;
    text-align: center;
}

.card-container{
    text-align: center;
}

.card-container h2 {
    font-size:2em;
}

.infected_value {
    color: rgb(75, 99, 238);
}

.recovered_value {
    color: rgb(4, 153, 4);
}

.deaths_value {
    color: rgb(180, 6, 6);
}

.infected_value, .recovered_value, .deaths_value {
    font-weight: bold;
    font-size: 1.2em;
}

.info_date{
    color: rgb(102, 102, 102);
    font-size: 14px;
}

.confirmed_card, .recovered_card, .death_card  {
    border-radius: 5px;
    box-shadow: 0px 5px 19px 0px lightgrey;
    width: 85%;
    margin: 2em auto;
    padding: 3px;
}

/* =================== COUNTRYPICKER.JS ==================== */

.country-selector {
    text-align: center;
}

.country-selector select{
    width: 40%;
}